#cloud-config
debug: True
hostname: {{ inventory_hostname_short }}
fqdn: {{ inventory_hostname }}

{% if cloud_user_passwd is defined %}
password: {{ cloud_user_passwd }}
chpasswd: { expire: False }
ssh_pwauth: True
{% endif %}

{% if ssh_pub_key is defined %}
ssh_authorized_keys:
  - {{ ssh_pub_key }}
{% endif %}

{% if update is defined %}
package_upgrade: {{ update }}
{% endif %} 

{% if install_packages is defined %}
packages:
  {% for package in install_packages -%}
  - {{ package }}
  {% endfor -%} 
{% endif %} 

{% if run_cmds is defined %}
runcmd:
  {% for cmd in run_cmds -%}
  - {{ cmd }}
  {% endfor -%} 
{% endif %}

power_state:
 delay: "now"
 mode: reboot
